/* ======================================================
   BASE
   ====================================================== */

.stApp {
    background-color: #E1E5CE;
}

.stApp h1 {
    color:#3D5B4A;
    letter-spacing: 0.08em;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}

.stApp h2 {
    color: #4A6A58;
    letter-spacing: 0.04em;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: justify;
}

.stApp h3 {
    color: #5F7668;
    letter-spacing: 0.02em;
    font-size: 1.2rem;
    font-weight: 800;
}

/* ======================================================
   HEADER (definido pero oculto)
   ====================================================== */

header[data-testid="stHeader"] {
    background-color: #3D5B4A;
    color: #92926C;
}

/* ======================================================
   TIPOGRAFÍA GLOBAL
   ====================================================== */

html {
    font-size: 20px;
}

/* ======================================================
   INPUTS (text, number, textarea)
   ====================================================== */

input,
textarea {
    background-color: #FFFFFF !important;
    color: #4A5F55!important;
    border: 2px solid #D0C38E!important;
    border-radius: 8px !important;
    padding: 0.6rem !important;
    caret-color: #2C3E50;
}

input:focus,
textarea:focus {
    border-color: #EEC25E !important;
}

textarea {
    min-height: 120px;
    resize: vertical;
}

/* Label text_input */
div[data-testid="stTextInput"] label {
    color: #5F7668;
}
/* Label radio */
div[data-testid="stRadio"] label {
    color: #5F7668;
}
/* Label number_input*/
div[data-testid="stNumberInput"] label {
    color: #5F7668;
}
/* Label text_area*/
div[data-testid="stTextArea"] label {
    color: #5F7668;
}

/* ======================================================
   SIDEBAR (definido pero oculto)
   ====================================================== */

section[data-testid="stSidebar"] {
    display: none;
}

/* Contenido ocupa todo el ancho */
div[data-testid="stAppViewContainer"] {
    margin-left: 0;
}
